@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@media (min-height: 768px) {
  #wrapper {
    height: 2000px;
  }
}

:root {
  --dtu-color: #990000;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  color: lightgray;
}

.navbar {
  position: relatives;
  width: 100%;
}

.navbar .navMenu {
  position: absolute;
  width: 100%;
}

.navbar .navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 20%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
  float: left;
}

.navbar .navMenu a:hover {
  color: var(--dtu-color);
}

.container {
  padding: 5em 5em;
}

.sec-01 {
  background: #111222;
  display: block;
}

.sec-01 ul {
  list-style-type: none;
  text-align: center;
}

.sec-01 ul li {
  display: block;
}

.sec-01 ul li img {
  margin-bottom: 3em;
  width: 800px;
}

.sec-01 .sec-01-title {
  font-size: 4em;
  text-align: center;
  color: lightgray;
  margin-bottom: 50px;
  margin-top: 50px;
}

.sec-01 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-01 .content .electric-car {
  margin: 2em;
  width: 80%;
  position: relative;
  overflow: hidden;
}

.sec-01 .content .text-box {
  background: #ffffff1a;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  color: lightgray;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 1em;
  width: 500px;
  position: relative;
  z-index: 2;
  top: 1em;
  right: 7em;
}

.sec-01 .content .text-box h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

.sec-02 {
  background: #111222;
  display: block;
}

.sec-02 .sec-02-title {
  font-size: 4em;
  text-align: center;
  color: lightgray;
  margin-bottom: 50px;
}

.sec-02 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-02 .content h4 {
  font-size: 3em;
  text-align: center;
  color: lightgray;
  margin-bottom: 50px;
}

.sec-02 .content .image {
  margin: 2em;
  width: 80%;
  position: relative;
  overflow: hidden;
}

.sec-02 .content .text-box {
  background: #ffffff1a;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  color: lightgray;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 1em;
  width: 750px;
  position: relative;
  z-index: 2;
  top: 0em;
  right: 10em;
}

.sec-02 .content .text-box h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

.sec-02 .content2 {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.sec-02 .content2 h4 {
  margin-top: 2em;
  font-size: 3em;
  text-align: center;
  color: lightgray;
  margin-bottom: 50px;
}

.sec-02 .content2 .iframe {
  display: block;
  position: relative;
  overflow: hidden;
}

.sec-02 .content2 .inlined-graphs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec-02 .content2 .inlined-graphs iframe {
  display: block;
}

.sec-02 .content2 .text-box {
  background: #ffffff1a;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  color: lightgray;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 1em;
  width: 600px;
  position: relative;
  z-index: 2;
  top: 2em;
  left: 72vh;
}

.sec-02 .content2 .text-box h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

.sec-03 {
  background: #111222;
  display: block;
  color: lightgray;
}

.sec-03 .sec-03-title {
  font-size: 4em;
  text-align: center;
  color: lightgray;
  margin-bottom: 50px;
}

.sec-03 .mySlides {
  display: none;
}

.sec-03 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-03 .content .image {
  background-color: lightgray;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1em;
  margin: 2em 0em 2em 0em;
  position: relative;
  overflow: hidden;
}

.sec-03 .content .image img {
  vertical-align: top;
}

.sec-03 .content .text-box {
  background: #ffffff1a;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 1em;
  width: 400px;
  position: relative;
  z-index: 3;
  top: 2em;
  right: 10em;
}

.sec-03 .content .text-box h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

.source-section {
  background: #111222;
  height: 100vh;
  color: #f6f4e6;
  padding: 3em;
}

.source-section .source-section-title {
  font-size: 4em;
  color: lightgray;
  margin-bottom: 50px;
}

.source-section li {
  padding: 10px 0px 10px 00px;
  text-transform: uppercase;
}

.source-section a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  float: right;
  margin-right: 10em;
}

.source-section a:hover {
  color: var(--dtu-color);
}

.w3-display-container {
  margin-top: 2em;
  position: relative;
  border-radius: 10px;
  max-width: 700px;
  max-height: 700px;
}

.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.w3-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

.w3-black, .w3-hover-black:hover {
  color: #111222 !important;
  background-color: #fff !important;
}

.w3-content, .w3-auto {
  margin-left: auto;
  margin-right: auto;
}

.w3-content {
  max-width: 800px;
}

.w3-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  width: 25%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: var(--dtu-color);
}
/*# sourceMappingURL=main.css.map */