@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@media (min-height: 768px) {
  #wrapper {
    height: 2000px;
  }
}

:root {
  --dtu-color: #990000;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.navbar {
  position: relatives;
  width: 100%;
}

.navbar .navMenu {
  position: absolute;
  width: 100%;
}

.navbar .navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 20%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
  float: left;
}

.navbar .navMenu a:hover {
  color: var(--dtu-color);
}

.container {
  padding: 5em 5em;
}

.sec-01 {
  background: #111222;
  display: block;
}

.sec-01 .sec-01-title {
  font-size: 4em;
  text-align: center;
  color: lightgray;
  margin-bottom: 50px;
}

.sec-01 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-01 .content .electric-car {
  margin: 2em;
  width: 80%;
  position: relative;
  overflow: hidden;
}

.sec-01 .content .text-box {
  background: #ffffff1a;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  color: lightgray;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 1em;
  width: 300px;
  position: relative;
  z-index: 2;
  top: 5em;
  right: 10em;
}

.sec-01 .content .text-box h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

.sec-02 {
  background: #292a39;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-02 #wrapper {
  width: 100%;
  height: 2500px;
  position: relative;
}

.sec-02 #wrapper .sec-02-title {
  padding-top: 1em;
  font-size: 4em;
  text-align: center;
  color: lightgray;
  margin-bottom: 50px;
}

.sec-02 #wrapper #sticky {
  position: sticky;
  top: 250px;
  margin-bottom: 3em;
  position: -webkit-sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.sec-02 #wrapper #sticky #sticky_image {
  height: 650px;
  width: 1100px;
  border: none;
}

.sec-02 .content2 {
  position: relative;
  top: 0;
  height: 2500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-02 .content2 .info, .sec-02 .content2 .info2 {
  width: 700px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  right: 200px;
}

.sec-02 .content2 .info {
  top: 700px;
  position: absolute;
  z-index: 1;
}

.sec-02 .content2 .info2 {
  top: 1500px;
  position: absolute;
  z-index: 1;
}

.sec-03 {
  background: #111222;
  display: block;
}

.sec-03 .sec-03-title {
  font-size: 4em;
  text-align: center;
  color: lightgray;
  margin-bottom: 50px;
}

.sec-03 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-03 .content .image {
  margin: 2em;
  width: 80%;
  position: relative;
  overflow: hidden;
}

.sec-03 .content .text-box {
  background: #ffffff1a;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  color: lightgray;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 1em;
  width: 300px;
  position: relative;
  z-index: 3;
  top: 5em;
  right: 10em;
}

.sec-03 .content .text-box h3 {
  font-size: 2em;
  margin-bottom: 10px;
}
/*# sourceMappingURL=main.css.map */